body {
  font-family: Arial, sans-serif;
  background-color: #eaf9e5;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  color: #1a4d2e;
  margin-top: 15px;
}

#map {
  width: 90vw;
  height: 80vh;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

footer {
  padding: 10px;
  background: #1a4d2e;
  color: white;
}
